@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">let's start building a  Web apps with ASP.NET Core </a>.</p>
    <h1>Abderahim ait chraa :)</h1>
</div>
